body{
    font-family: 'Asap', sans-serif;
font-family: 'Slabo 27px', serif;
}
h1{
    font-size: 60px;
}
.name-color
{
    color: lightcoral;
}
h2{
    color: lightgreen;
}
.pera-1{
    color: maroon;
}
section{
    display: flex;
}
.half-display1{
    width: 70%;
}
.half-display2{
    width: 30;
}