body{
    font-family: 'Asap', sans-serif;
font-family: 'Slabo 27px', serif;
font-size: larger;
margin: 0%;
}
h1{
    font-size: 60px;
}
.name-color
{
    color: lightcoral;
}
h2{
    color: lightgreen;
}
.pera-1{
    color: maroon;
}
section{
    display: flex;
}
.half-display{
    width: 50%;
}
.half-display img{
   width: 100%;
}
.link-disign{
 background-color: orange;
  background-image: linear-gradient(orange,tomato);
  text-decoration: none;
  padding: 10px 40px; 
  border-radius: 15px;
  font-weight: 700;
  font-size: larger;
  color: white;
  
}
.top-benar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

