body{
    font-family: 'Asap', sans-serif;
font-family: 'Slabo 27px', serif;
font-size: larger;
margin: 0%;
}
h1{
    font-size: 60px;
}
.name-color
{
    color: lightcoral;
}
h2{
    font-size: 45px;
    color: rgb(13, 65, 95);
}
.pera-1{
    color: maroon;
}
.flaxiable-container{
    display: flex;
    margin-bottom: 70px;
}
.half-display{
    width: 50%;
    padding-left: 100px;
}
.half-display img{
   width: 100%;

}
.link-disign{
 background-color: orange;
  background-image: linear-gradient(orange,tomato);
  text-decoration: none;
  padding: 10px 40px; 
  border-radius: 15px;
  font-weight: 700;
  font-size: larger;
  color: white;
  
}
.top-benar{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 10px;
}
.experians-item{

    box-shadow: 10px 7px 7px 8px rgb(47, 56, 47);
    margin-left: 5%;
    margin-right: 5%;
    width: 50%;
    padding: 30px;
    border-radius: 2%; 
    border-width: 20px green;

}
 .experians-area{
     background-image: url(images/exp-bg.png);
     background-repeat: no-repeat;           
 }
 #wev-dev-experience{
     border-left: 10px solid;
     border-image: linear-gradient(green, yellow);
     border-image-slice:1;
 }
 #baby-wev-dev{
     border-left: 10px solid;
     border-image: linear-gradient( yellow,green);
     border-image-slice: 1;
 }
 footer{
     text-align: center;
 }